extends layout.pug

block content
  main
      h1.page-title Completed Tasks
  section.todo-container
    ul.todo-list
      li.todo-item 
        a.todo.completed(href="/completed/id") Hey
      li.todo-item 
        a.todo.completed(href="/completed/id") Hello