extends layout.pug

block content
  main
    h1 List of Jobs I 
      span Have To Do
    a.btn-add(href='/not-completed') Add

  footer 
    p This web application was created to fulfill Technology module’s requirements and does not represent an actual company or service