doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/main.css")
    title Have To Do
  body
  nav 
    ul
      li 
        a(href='/') Home
      li 
        a(href='/todos/not-completed') Not Completed
      li 
        a(href='/todos/completed') Completed
  block content
  footer 
    p This web application was created to fulfill Technology module’s requirements and does not represent an actual company or service