extends layout.pug

block content
  main.not-completed
    h1.page-title Not Completed Tasks
    form
      input.todo-input(type='text' name='todo')
      button.todo-button(type='submit' method="POST" action="/not-completed") Add

  section.todo-container
    ul.todo-list
      li.todo-item 
        a.todo(href="/not-completed/id") Hey
        a.complete-btn(href="/not-completed/id/complete") Complete
      li.todo-item 
        a.todo(href="/not-completed/id") Hello
        a.complete-btn(href="/not-completed/id/complete") Complete