extends layout.pug

block content
  main.not-completed
    h1.page-title Not Completed Tasks
    form(method="POST" action="/todos/not-completed")
      input.todo-input(type='text' name='todo')
      button.todo-button(type="submit") Add
  
  if todos.length
    section.todo-container
      ul.todo-list
        each todo in todos
          li.todo-item 
            a.todo(href=`/todos/${todo.id}`)=todo.text
            a.complete-btn(href=`/todos/not-completed/${todo.id}/complete`) Complete
  else
    h1.no No available tasks!

  if error
    aside.error Error! Try again!
  if success
    aside.success Added successfully!
  if completed
    aside.success Task has been completed successfully!